/*  default style config
body {	.ui.card>.image>img, .ui.cards>.card>.image>img {
  font-family: sans-serif;	  height: 12em
}
 a {
  text-decoration: none;
}
 label {
  display: block;
}
 nav a {
  display: inline-block;
  margin: 1em;
}
 form div {
  margin: 1em;
  display: inline-block;
} */

.ui.card > .image > img,
.ui.cards > .card > .image > img {
	height: 12em;
}

.ui.medium.image,
.ui.medium.images .image,
.ui.medium.images img,
.ui.medium.images svg {
	height: 14em;
	width: auto;
	font-size: 1rem;
}

.full {
	min-height: 100vh;
	padding: 10vh;
}

#auth-form {
	height: 100%;
}

.cardOrders {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-end;
}
